body {
    background: white;
    font-family: arial;
    color: #FAFAFA;
    text-transform: uppercase;
}



.navbar-form .form-control{
width: 220px;
}

.navbar-default{
  background-color: white;
  padding: 1%;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    padding-bottom: 0.3%;
}

.acceder{
  border: none;
  background-color: transparent;
  color: white;
}

iframe{
  width: 60%;
  height: 500px;
}